header {
  color: pink; 
  font-size: 62px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: center;
  font-size: 100px;
  font-family: 'Open Sans', sans-serif;
}

.button-container {
  display: flex;
  justify-content: center;
}
button {
  border: 1px solid darkorchid; 
  width: 60px; 
  height: 40px; 
  display: flex;
  margin: 15px;
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  border-radius: 10%;
}

button:hover{
  background-color: LavenderBlush;
  border: 1px solid pink; 
}

button:active {
  border: 1px solid pink;
}

button:visited {
  border: 1px solid pink;
}